<div class="container">
  <div class="inner">
    <div class="login-container">
      <div class="header-container">
        <p class="header-text">THE END @{{user.username}}</p>
      </div>
      <div class="form-container">
        <div style="height: 200px; width: 200px"></div>
            <p class="reg-message"><a href="/logout">Sign out, {{user.username}}</a></p>
            <p class="reg-message">{{message}}</p>
            <p class="reg-message"><a href="/connect">Link Accounts</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>