<div class="container">
  <div class="inner">
    <div class="login-container">
      <div class="header-container">
        <p class="header-text">Connect.</p>
      </div>
        <div class="btn-container">
          <a href="/auth/facebook">
            <div class="facebook-container">
              <p class="lead">Login with facebook</p>
              <i class="fa fa-facebook"></i>
            </div>
          </a>
          <a href="/auth/twitter">
            <div class="twitter-container">
              <p class="lead">Login with twitter</p>
              <i class="fa fa-twitter"></i>
            </div>
          </a>
        </div>
        <p class="reg-message"><a href="/">Maybe later.</a></p>
        <p class="reg-message">{{user.username}}</p>
        <p class="reg-message">{{message}}</p>
      </div>
    </div>
  </div>
</div>