<div class="container">
  <div class="inner">
    <div class="login-container">
      <div class="header-container">
        <p class="header-text">Connect.</p>
      </div>
        <div class="btn-container">
          {{#if user.facebook.id}}
            <div class="facebook-container">
              <img class="connect-avatar" src="https://graph.facebook.com/{{user.facebook.id}}/picture">
              <p class="lead">Connected</p>
              <i class="fa fa-facebook"></i>
            </div>
          {{else}}
          <a href="/auth/facebook">
            <div class="facebook-container">
              <p class="lead">Activate one-click login</p>
              <i class="fa fa-facebook"></i>
            </div>
          </a>
          {{/if}}
          <a href="/auth/twitter">
            <div class="twitter-container">
              <p class="lead">Activate one-click login</p>
              <i class="fa fa-twitter"></i>
            </div>
          </a>
        </div>
        <p class="reg-message"><a href="/">Maybe later.</a></p>
        <p class="reg-message">{{user.username}}</p>
        <p class="reg-message">{{message}}</p>
      </div>
    </div>
  </div>
</div>