body {
  font-family: @sans;
  background-color: @primarylighthover;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

ul     { padding-left: 0; }
li     { list-style-type: none; }
a      { text-decoration: none; }